{% extends "base.html" %}

{% block content %}
		

    <a href="#" id="send">
      <div id="okno">
        Ваша заявка отправлена!
      </div>
    </a>
		

	
	<div style="text-align: center; font-size: 80px; padding: 60px 0">
		<h3>Свяжитесь с нами: 8 (917) 736-81-45 </h3>
		<h3>https://vk.com/autolux102</h3>
	</div>
	
	
	<div style="background: #dbdbdb; text-align: center; padding: 150px 0px; min: 800px">	
		<p style="font-size: 40px;"><b>Наши преимущества</b></p>
		
		<div style="font-size: 25px; padding: 30px 0px;">
		  <p>Каждый день мы создаем и экспериментируем,</p>
		  <p>чтобы сделать наших клиентов счастливыми</p>
		</div>
        
		<div style="display: flex; justify-content: center; flex-wrap: nowrap;">        	
              
		  <div style="padding: 30px 40px; display: inline-flex; flex: 25%;">
		    <div style="background: black; min-width: 60px; height: 60px;  border-radius: 50%; color: white; display: block;  margin-top: 20px; text-align: center;">
				<h3>1</h3></div>
			<div style="text-align:left; margin-left: 20px;">
		      <h4><b>Качественные товары</b></h4>
		      <h4 style="padding-top: 7px; line-height: 25px;">Наши запчасти будут вас радовать хорошим качеством и приятными ценами</h4>
			</div>
		  </div>
          
		  <div style="padding: 30px 40px; display: inline-flex; flex: 25%;">
		    <div style="background: black; min-width: 60px; height: 60px;  border-radius: 50%; color: white; display: block;  margin-top: 20px; text-align: center;">
				<h3>2</h3></div>
			<div style="text-align:left; margin-left: 20px;">
		      <h4><b>Быстрая доставка</b></h4>
		      <h4 style="padding-top: 7px; line-height: 25px;">Мы доставляем запчасти в течение 3 часов после заказа</h4>
			</div>
		  </div>
          
		  <div style="padding: 30px 40px; display: inline-flex; flex: 25%;">
		    <div style="background: black; min-width: 60px; height: 60px;  border-radius: 50%; color: white; display: block;  margin-top: 20px; text-align: center;">
				<h3>3</h3></div>
			<div style="text-align:left; margin-left: 20px;">
		      <h4><b>Талантливые менеджеры</b></h4>
		      <h4 style="padding-top: 7px; line-height: 25px;">Все наши менеджера имеют многолетний опыт работы и хороший вкус</h4>
			</div>
		  </div>
          
		</div>
	</div>	

	
	
	<div style="text-align: center; padding: 100px 0; width: 800px; margin: 0 auto;">	
		<p style="font-size: 40px;"><b>Следите за нами в <a href="https://www.instagram.com/auto_lux_str/" target="_blank" style="color:red">Instagram</a></b></p>
		<p style="font-size: 25px; padding: 30px 0;">В инстаграме мы делимся процессом своей работы, фотографиями готовых заказов. Пишите в директ для заказа.</p>
	
		<div class="slider">
		  <input type="radio" name="switch" id="btn1" checked>
		  <input type="radio" name="switch" id="btn2">
		  <input type="radio" name="switch" id="btn3">
		  <input type="radio" name="switch" id="btn4">
		  <input type="radio" name="switch" id="btn5">
		  <input type="radio" name="switch" id="btn6">
		  <input type="radio" name="switch" id="btn7">
		  <input type="radio" name="switch" id="btn8">
		  
		  <div class="switch">
			<label for="btn1"></label>
			<label for="btn2"></label>
			<label for="btn3"></label>
			<label for="btn4"></label>
			<label for="btn5"></label>
			<label for="btn6"></label>
			<label for="btn7"></label>
			<label for="btn8"></label>
		  </div>
		  
		  <div class="slider-inner">
			<div class="slides">
			  <img src="/static/img/101.jpg"/>
			  <img src="/static/img/102.jpg"/>
			  <img src="/static/img/103.jpg"/>
			  <img src="/static/img/104.jpg"/>
			  <img src="/static/img/105.jpg"/>
			  <img src="/static/img/106.jpg"/>
			  <img src="/static/img/107.jpg"/>
			  <img src="/static/img/108.jpg"/>
			</div>
		  </div>
		  
		</div>
	</div>
	
	
{% endblock %}